* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 999;
  height: 100vh;
  width: 260px;
  background-color: #000;
  transition: right 0.3s ease-in-out;
  padding: 16px 8px;
}
.float-btn {
  position: fixed;
  top: 10px;
  right: 214px;
  z-index: 998;
  font-size: 14px;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3b3be;
}
.float-btn:hover {
  cursor: pointer;
}
.saved-btn {
  position: fixed;
  top: 10px;
  right: 270px;
  z-index: 1000;
  font-size: 14px;
  width: 36px;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3b3be;
}
.saved-btn:hover {
  cursor: pointer;
}
.saved-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
  padding: 4px 8px;
}
.saved-link span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saved-link span:hover {
  cursor: pointer;
  color: #991b1b;
}
.saved-link a {
  width: calc(100% - 20px);
  display: block;
  text-decoration: none;
  font-size: 12px;
  white-space: nowrap;
  word-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-box {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #565869;
  margin-bottom: 16px;
  font-weight: 600;
}
.top-box button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-box button:hover {
  cursor: pointer;
}
.list {
  height: calc(100vh - 97px);
  overflow-y: auto;
}
